<link href="style/search.css" rel="stylesheet">

<main>

    <div class="container">
        <div class="row">
            <div class="col-3">

                <form action="/search" method="post" class="form-group card" oninput="ramsval.value=+ramslider.value, romsval.value=+romslider.value">
                    <input type="hidden" name="usingform" value=1>
                    <input type="hidden" id="{{_id}}" name="id">
                    <article class="sidebar_header">
                        <header class="card-header">
                        <h3 class="text-center">Filters</h3>
                        </header>
                    </article>
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Brands </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">

                                    {{#each brandsnames}}
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" name="brand" value="{{brand}}">
                                        <span class="form-check-label">
                                            {{brand}}
                                          </span>
                                    </label>
                                        {{/each}}

                                </div> <!-- card-body.// -->
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Price </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input type="number" class="form-control" id="inputEmail4" name="minprice" placeholder="$0">
                                        </div>
                                        <div class="form-group col-md-6 text-right">
                                            <label>Max</label>
                                            <input type="number" class="form-control" name="maxprice"  placeholder="$1,0000">
                                        </div>
                                    </div>
                                </div> <!-- card-body.// -->
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Ram, GB</h6>
                            </header>
                            <div class="card-body">
                            <input type="range"  min="1" max="8" id="priceslider" value=2 name="ramslider">
                                <output id="ramsval" for="ramslider" >2</output>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                            <h6 class="title">Rom, GB</h6>
                            </header>
                            <div class="card-body">
                                <input type="range"  min="16" max="128" id="priceslider" step="16" name="romslider" value="16">
                                <output id="romsval" for="romslider" >16</output>
                            </div>
                        </article>
                        <button type="submit" value="Search" id="searchbuttonfilter" class="btn btn-primary">Search
                            <i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col card">
                <h3>Search</h3>
                {{#if phones.length}}

                    <ul class = "PhoneList row">
                        {{#each phones}}
                            <!--//todo тут адаптивности на каком-то размере вообще нет
                            -->
                            <li class="card col-lg-4 col-md-6 col-sm-12 phone-container">

                                <a href="/search/phone/{{id}}">
                                    <img src="/pic/Phone.png"  class="m-auto modal-dialog-centered phone-pic"  alt="{{name}}">
                                    <p class="text-center phone-label"> {{brand}} {{name}}</p></a>
                                {{#if price}}
                                    <div class="text-sm-right">{{price}} $</div>
                                    {{else}}
                                    <div class="text-sm-right">No sellers</div>

                                {{/if}}



                            </li>

                        {{/each}}
                    </ul>
                {{else}}
                    <h2 class="text-center">Nothing found!</h2>
                {{/if}}
            </div>
            </div>

        </div>
    </div>
</main>
